.home-container{
    display: flex;
    max-height: calc(100vh - 50px);
    flex-direction: row;
    box-sizing: border-box;
    overflow-y: auto;
    box-sizing: border-box;
    position: relative;
}

.sidebar{
    display: none;
    padding: relative;
}
.open{
    display: block !important;
    background-color: rgba(255, 255, 255, 0.496);
    z-index: 9999;
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100%;
}

.filter{
    position: absolute;
    top: 5px;
    background-color: rgb(27, 27, 27);
    color: #fff;
}

.filter-close{
    position: absolute;
    top: 10px;
    left: 250px;
    z-index: 999999;
    background-color: rgb(255, 55, 55);
    color: #fff;
}

.navbar-close-btn{
    font-size: 2rem;
    cursor: pointer;
    display: block;
}

@media screen and (min-width:768px){
    .sidebar{
        display: block;
    }
    .filter{
        display: none;
    }
    .navbar-close-btn{
    display: none;
    }

}
