.home-container{
    display: flex;
    max-height: calc(100vh - 50px);
    flex-direction: row;
    box-sizing: border-box;
    overflow-y: auto;
    box-sizing: border-box;

}



@media screen and (min-width:768px){


}